h1{
    text-align: center;
    background-color: #ffdde3;
    height: 20%;
    width: 100%;
    font-size: 1.5rem;
}

.modelimages{
    display:flex; 
    gap:16px;
    height: 80%;
    width: 100%;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;

}
.modelimages img{
    height: 200px;
    width: 160px;
    border-radius: 8px;
}